@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
        background-image: url("https://i.imgur.com/NWxXl8G.jpg/");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top:15%;
      }
.logo {
  border: 5px solid #;
  border-radius: 50%; 
  padding:1px;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card {
  width:90%;
  height: 50%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-size: 200% 200%;
  animation: cambiar-color 4s infinite;
}

@keyframes cambiar-color {
  0% {
    background-position: 0% 0%;
    background: linear-gradient(135deg, #2d675f 0%, #eff3f2 100%);
  }
  50% {
    background-position: 100% 0%;
    background: linear-gradient(135deg, #eff3f2 0%, #2d675f 100%);
  }
  100% {
    background-position: 0% 0%;
    background: linear-gradient(135deg, #2d675f 0%, #eff3f2 100%);
  }
}
.jx1 {
  animation: parpadeo 2s infinite;
}

@keyframes parpadeo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.jx1 {
  position: absolute;
  font-size:145%;
  color:#c51b1c;
  top:16%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight:600
}
.bcreate {
  position: absolute;
  top:45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bcreate {
 padding: 12px;
  background: #1dab61;
  border: 0;
  width: 80%;
  margin: auto;
  font-size: 15px;
  line-height: 18px;
  border-radius:20px;
  box-shadow: 0 2px 2px -2px #cacaca;
  color: #fff;
  font-weight:500;
  text-shadow: 0 -px rgb(0 0 0 / 25%);
}
.Logo {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ayuda {
  position: absolute;
  text-decoration: underline;
  color:#6E34B2;
  top:85%;
  left: 50%;
  transform: translate(-50%, -50%);
}



